$panel_height: 64px;

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(9, 108, 3);
}

iframe{
  border: 0;
  position: absolute;
  top: $panel_height;
  left: 0;
  width: 100%;
  // height: calc(100vh - 64px);
  height: calc(100vh - #{$panel_height}); //the same
}

.panel {
  display: flex;
  justify-content: flex-end;
  height: $panel_height;
  padding: 12px;
  border-bottom: 1px solid black;
}

.alert-success {
  position: absolute;
  top: 10px;
  left: 20px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, .4);
  visibility: hidden;
  opacity: 0;
  transition: 0.8s all;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}