// @import "../../node_modules/uikit/src/scss/variables-theme.scss";
// @import "../../node_modules/uikit/src/scss/mixins-theme.scss";
// @import "../../node_modules/uikit/src/scss/uikit-theme.scss";

$panel_height: 64px;

* {
  box-sizing: border-box;
}

h1 {
  color: rgb(9, 108, 3);
}

iframe{
  border: 0;
  position: absolute;
  top: $panel_height;
  left: 0;
  width: 100%;
  // height: calc(100vh - 64px);
  height: calc(100vh - #{$panel_height}); //the same
}

.panel {
  display: flex;
  justify-content: flex-end;
  height: $panel_height;
  padding: 12px;
  border-bottom: 1px solid black;
}

.alert-success {
  position: absolute;
  top: 10px;
  left: 20px;
}